:root {
	--maincolor: #5658BF;
	--maincolorD: #393B80;
	--maincolorL: #ddd;
	--maincolorW: #fff;
}

.imgx {
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

table {
	width: 100%;
}

.table-users {
	box-shadow: black 1px 5px 9px 0;
	border-radius: 8px;
	max-width: calc(100% - 2em);
	margin: 0 auto;
	overflow: hidden;
}

.table-users tr {
	border-bottom: 1px solid black;
}

.table-users td, .table-users th {
	padding: 10px;
}

.table-users td {
	text-align: center;
	vertical-align: middle;
}

.table-users td:last-child {
	line-height: 1.4em;
	text-align: center;
}

.table-users th {
	color: white;
	background-color: #444;
	font-weight: bold;
}

.table-users tr:nth-child(even) {
	background-color: var(--maincolorW);
}

.table-users tr:nth-child(odd) {
	background-color: var(--maincolorL);
}

.tituloMapa {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-bottom: 1px solid #ccc;
}

.virusType {
	color: #df0505;
}