@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    min-height: 100%;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif !important;
}

#first-row .card-body {
    max-height: 35vh;
    overflow-y: auto;
}

@media only screen and (min-width: 992px) {
    #first-row .row {
        overflow: hidden;
    }
    #first-row .card {
        height: 100%;
    }
    #first-row .card-body {
        min-height: 90%;
        overflow-y: auto;
    }
}

#countryCasesTable {
    width: 90%;
}

#countryCasesTable th, #countryCasesTable td {
    border-bottom: 1px solid #ccc;
}

#countryCasesTable tr:hover :not(th) {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

#map {
    height: 75vh;
}

#global-stats .card-header {
    font-size: 95%;
}

#global-stats span {
    font-size: 2.75vh;
    font-weight: 500;
}

#recovered-deaths h6 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    footer .row div {
        max-width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    footer .row div {
        max-width: 25%;
    }
}

#modalAbout .modal-title, #modalSource .modal-title, #modalCredits .modal-title {
    margin-left: 7.5px;
}

.googleMapMarker {
    max-width: 10em;
}

.googleMapRightControl {
    background: #efefef;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1rem;
    width: 225px;
    font-size: 1.125rem;
    opacity: 1;
}

.googleMapRightControl td:nth-child(1) {
    padding: 0.125rem 1rem;
    text-align: right;
}

@media only screen and (max-width: 850px) {
    .googleMapRightControl {
        padding: 20px;
        width: 120px !important;
        font-size: 10px;
    }
    .googleMapRightControl td:nth-child(1) {
        padding: 0.125rem 0.5rem;
        text-align: right;
    }
}